.listEntries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 40px;
    overflow: hidden;
    h1{
        margin: 40px;
    }
}