.projectList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 50px;
    width: 100%;
}


.divSkeleton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 400px;
}

.projectList:has(.item:last-child:nth-child(n + 4)) {
    justify-content: flex-start; /* Alínea la última fila a la izquierda */
  }