.CvContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cvStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    h1{
        font-family: sans-serif;
        font-weight: 600;
    }
}

.cvList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}