.expCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 10px;
    row-gap: 10px;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 1px rgb(110, 110, 110);
    h3{
        text-decoration: underline;
    }
}

.expCompany{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    font-family: sans-serif;
    font-size: 15px;
    color: grey;
}