@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 6px;
    /* Ancho del scrollbar */
    height: 6px;
    /* Alto del scrollbar horizontal */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color de la barra */
    border-radius: 10px;
    /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color al pasar el mouse */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Fondo de la barra */
}