.blogPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    width: auto;
    h1{
        width: 90%;
        text-align: start;
        font-weight: 300;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    p{
        padding-top: 10px;
        width: 90%;
        text-align: start;
        color: rgb(72, 72, 72);
        font-weight: 200;
    }
}